RewriteEngine On

# Custom error page
ErrorDocument 404 /404.html

# Default document
DirectoryIndex index.html

# HTM to HTML redirect
RewriteRule ^(.+)\.htm$ /$1.html [NC,R=301,L]

# default.asp redirect
RewriteRule ^default\.asp$ / [NC,R=301,L]

# File-specific redirects
RewriteRule ^f1997recap\.html$ /1997/f1997recap.html [NC,R=301,L]
RewriteRule ^f1998recap\.html$ /1998/f1998recap.html [NC,R=301,L]
RewriteRule ^faptpupil\.html$ /1998/faptpupil.html [NC,R=301,L]
RewriteRule ^fberlin96\-1\.html$ /1996/fberlin96-1.html [NC,R=301,L]
RewriteRule ^fberlin96\-2\.html$ /1996/fberlin96-2.html [NC,R=301,L]
RewriteRule ^fberlin96\-3\.html$ /1996/fberlin96-3.html [NC,R=301,L]
RewriteRule ^fberlin96\-4\.html$ /1996/fberlin96-4.html [NC,R=301,L]
RewriteRule ^fberlin96\-5\.html$ /1996/fberlin96-5.html [NC,R=301,L]
RewriteRule ^fberlin96\.html$ /1996/fberlin96.html [NC,R=301,L]
RewriteRule ^fberlin97\.html$ /1997/fberlin97.html [NC,R=301,L]
RewriteRule ^fberlin98\-1\.html$ /1998/fberlin98-1.html [NC,R=301,L]
RewriteRule ^fberlin98\-2\.html$ /1998/fberlin98-2.html [NC,R=301,L]
RewriteRule ^fberlin98\-3\.html$ /1998/fberlin98-3.html [NC,R=301,L]
RewriteRule ^fberlin98\-4\.html$ /1998/fberlin98-4.html [NC,R=301,L]
RewriteRule ^fberlin98\-5\.html$ /1998/fberlin98-5.html [NC,R=301,L]
RewriteRule ^fberlin98\.html$ /1998/fberlin98.html [NC,R=301,L]
RewriteRule ^fccloset\.html$ /1997/fccloset.html [NC,R=301,L]
RewriteRule ^fcinefest18\-1\.html$ /1997/fcinefest18-1.html [NC,R=301,L]
RewriteRule ^fcinefest18\-2\.html$ /1997/fcinefest18-2.html [NC,R=301,L]
RewriteRule ^fcinefest98\.html$ /1998/fcinefest98.html [NC,R=301,L]
RewriteRule ^ffastcheap\.html$ /1997/ffastcheap.html [NC,R=301,L]
RewriteRule ^ffilmfest\.html$ /1996/ffilmfest.html [NC,R=301,L]
RewriteRule ^fgodmon\.html$ /1998/fgodmon.html [NC,R=301,L]
RewriteRule ^fgodmon2\.html$ /1998/fgodmon2.html [NC,R=301,L]
RewriteRule ^fhappiness\.html$ /1998/fhappiness.html [NC,R=301,L]
RewriteRule ^flicensed\.html$ /1997/flicensed.html [NC,R=301,L]
RewriteRule ^fofcs1998\.html$ /1998/fofcs1998.html [NC,R=301,L]
RewriteRule ^foscar\-cover\.html$ /1997/foscar-cover.html [NC,R=301,L]
RewriteRule ^foscar\.html$ /1996/foscar.html [NC,R=301,L]
RewriteRule ^foscar2\.html$ /1997/foscar2.html [NC,R=301,L]
RewriteRule ^foscar96\.html$ /1996/foscar96.html [NC,R=301,L]
RewriteRule ^foscar98\-1\.html$ /1998/foscar98-1.html [NC,R=301,L]
RewriteRule ^foscar98\-2\.html$ /1998/foscar98-2.html [NC,R=301,L]
RewriteRule ^foscar98\.html$ /1998/foscar98.html [NC,R=301,L]
RewriteRule ^fsiff96\-1\.html$ /1996/fsiff96-1.html [NC,R=301,L]
RewriteRule ^fsiff96\-2\.html$ /1996/fsiff96-2.html [NC,R=301,L]
RewriteRule ^fsiff96\-3\.html$ /1996/fsiff96-3.html [NC,R=301,L]
RewriteRule ^fsiff96\-4\.html$ /1996/fsiff96-4.html [NC,R=301,L]
RewriteRule ^fsiff96\-5\.html$ /1996/fsiff96-5.html [NC,R=301,L]
RewriteRule ^fsiff96\.html$ /1996/fsiff96.html [NC,R=301,L]
RewriteRule ^fsiff97\-1\.html$ /1997/fsiff97-1.html [NC,R=301,L]
RewriteRule ^fsiff97\-2\.html$ /1997/fsiff97-2.html [NC,R=301,L]
RewriteRule ^fsiff97\-3\.html$ /1997/fsiff97-3.html [NC,R=301,L]
RewriteRule ^fsiff97\.html$ /1997/fsiff97.html [NC,R=301,L]
RewriteRule ^fsiff98\-1\.html$ /1998/fsiff98-1.html [NC,R=301,L]
RewriteRule ^fsiff98\-2\.html$ /1998/fsiff98-2.html [NC,R=301,L]
RewriteRule ^fsiff98\-3\.html$ /1998/fsiff98-3.html [NC,R=301,L]
RewriteRule ^fsiff98\-4\.html$ /1998/fsiff98-4.html [NC,R=301,L]
RewriteRule ^fsiff98\-5\.html$ /1998/fsiff98-5.html [NC,R=301,L]
RewriteRule ^fsiff98\.html$ /1998/fsiff98.html [NC,R=301,L]
RewriteRule ^ftaxi\.html$ /1997/ftaxi.html [NC,R=301,L]
RewriteRule ^ftiff97\-1\.html$ /1997/ftiff97-1.html [NC,R=301,L]
RewriteRule ^ftiff97\-2\.html$ /1997/ftiff97-2.html [NC,R=301,L]
RewriteRule ^ftiff97\-3\.html$ /1997/ftiff97-3.html [NC,R=301,L]
RewriteRule ^ftiff97\.html$ /1997/ftiff97.html [NC,R=301,L]
RewriteRule ^ftiff98\-1\.html$ /1998/ftiff98-1.html [NC,R=301,L]
RewriteRule ^ftiff98\-2\.html$ /1998/ftiff98-2.html [NC,R=301,L]
RewriteRule ^ftiff98\-3\.html$ /1998/ftiff98-3.html [NC,R=301,L]
RewriteRule ^ftiff98\.html$ /1998/ftiff98.html [NC,R=301,L]
RewriteRule ^ftitanic\.html$ /1997/ftitanic.html [NC,R=301,L]
RewriteRule ^ftwoorphans\.html$ /1998/ftwoorphans.html [NC,R=301,L]
RewriteRule ^r101pups\.html$ /1996/r101pups.html [NC,R=301,L]
RewriteRule ^r12monky\.html$ /1998/r12monky.html [NC,R=301,L]
RewriteRule ^r247\.html$ /1997/r247.html [NC,R=301,L]
RewriteRule ^r2girls\.html$ /1998/r2girls.html [NC,R=301,L]
RewriteRule ^r54\.html$ /1998/r54.html [NC,R=301,L]
RewriteRule ^r7years\.html$ /1997/r7years.html [NC,R=301,L]
RewriteRule ^r8heads\.html$ /1998/r8heads.html [NC,R=301,L]
RewriteRule ^r9months\.html$ /1996/r9months.html [NC,R=301,L]
RewriteRule ^raceven\.html$ /1998/raceven.html [NC,R=301,L]
RewriteRule ^rairforce1\.html$ /1998/rairforce1.html [NC,R=301,L]
RewriteRule ^ralien\.html$ /1998/ralien.html [NC,R=301,L]
RewriteRule ^ramistad\.html$ /1998/ramistad.html [NC,R=301,L]
RewriteRule ^rampres\.html$ /1997/rampres.html [NC,R=301,L]
RewriteRule ^rannefrk\.html$ /1997/rannefrk.html [NC,R=301,L]
RewriteRule ^rantz\.html$ /1998/rantz.html [NC,R=301,L]
RewriteRule ^rapostle\.html$ /1998/rapostle.html [NC,R=301,L]
RewriteRule ^rapower\.html$ /1998/rapower.html [NC,R=301,L]
RewriteRule ^raptpupil\.html$ /1998/raptpupil.html [NC,R=301,L]
RewriteRule ^rarmaged\.html$ /1998/rarmaged.html [NC,R=301,L]
RewriteRule ^ratl\.html$ /1998/ratl.html [NC,R=301,L]
RewriteRule ^raustinp\.html$ /1998/raustinp.html [NC,R=301,L]
RewriteRule ^ravengers\.html$ /1998/ravengers.html [NC,R=301,L]
RewriteRule ^rbabe\.html$ /1998/rbabe.html [NC,R=301,L]
RewriteRule ^rbaggage\.html$ /1997/rbaggage.html [NC,R=301,L]
RewriteRule ^rbarbwir\.html$ /1998/rbarbwir.html [NC,R=301,L]
RewriteRule ^rbarrow\.html$ /1998/rbarrow.html [NC,R=301,L]
RewriteRule ^rbaseket\.html$ /1998/rbaseket.html [NC,R=301,L]
RewriteRule ^rbatman\.html$ /1998/rbatman.html [NC,R=301,L]
RewriteRule ^rbcage\.html$ /1996/rbcage.html [NC,R=301,L]
RewriteRule ^rbchucky\.html$ /1998/rbchucky.html [NC,R=301,L]
RewriteRule ^rbdj\.html$ /1997/rbdj.html [NC,R=301,L]
RewriteRule ^rbeloved\.html$ /1998/rbeloved.html [NC,R=301,L]
RewriteRule ^rbfwedding\.html$ /1998/rbfwedding.html [NC,R=301,L]
RewriteRule ^rbillyshw\.html$ /1998/rbillyshw.html [NC,R=301,L]
RewriteRule ^rblackdog\.html$ /1998/rblackdog.html [NC,R=301,L]
RewriteRule ^rblade\.html$ /2002/rblade.html [NC,R=301,L]
RewriteRule ^rboogie\.html$ /1998/rboogie.html [NC,R=301,L]
RewriteRule ^rborrow\.html$ /1998/rborrow.html [NC,R=301,L]
RewriteRule ^rbugslife\.html$ /1998/rbugslife.html [NC,R=301,L]
RewriteRule ^rbulworth\.html$ /1998/rbulworth.html [NC,R=301,L]
RewriteRule ^rbutcherboy\.html$ /1998/rbutcherboy.html [NC,R=301,L]
RewriteRule ^rbwaves\.html$ /1996/rbwaves.html [NC,R=301,L]
RewriteRule ^rcabiria\.html$ /1998/rcabiria.html [NC,R=301,L]
RewriteRule ^rcasino\.html$ /1996/rcasino.html [NC,R=301,L]
RewriteRule ^rcelebrity\.html$ /1998/rcelebrity.html [NC,R=301,L]
RewriteRule ^rcentral\.html$ /1998/rcentral.html [NC,R=301,L]
RewriteRule ^rclaypig\.html$ /1998/rclaypig.html [NC,R=301,L]
RewriteRule ^rclock\.html$ /1996/rclock.html [NC,R=301,L]
RewriteRule ^rconair\.html$ /1998/rconair.html [NC,R=301,L]
RewriteRule ^rcondor\.html$ /1997/rcondor.html [NC,R=301,L]
RewriteRule ^rcontact\.html$ /1998/rcontact.html [NC,R=301,L]
RewriteRule ^rcopland\.html$ /1998/rcopland.html [NC,R=301,L]
RewriteRule ^rcruise\.html$ /1998/rcruise.html [NC,R=301,L]
RewriteRule ^rct\.html$ /1998/rct.html [NC,R=301,L]
RewriteRule ^rcube\.html$ /1997/rcube.html [NC,R=301,L]
RewriteRule ^rdadetown\.html$ /1997/rdadetown.html [NC,R=301,L]
RewriteRule ^rdance\.html$ /1998/rdance.html [NC,R=301,L]
RewriteRule ^rdarkcity\.html$ /1998/rdarkcity.html [NC,R=301,L]
RewriteRule ^rdeepimpact\.html$ /1998/rdeepimpact.html [NC,R=301,L]
RewriteRule ^rdeepris\.html$ /1998/rdeepris.html [NC,R=301,L]
RewriteRule ^rdelta\.html$ /1998/rdelta.html [NC,R=301,L]
RewriteRule ^rdenise\.html$ /1997/rdenise.html [NC,R=301,L]
RewriteRule ^rdevilb\.html$ /1996/rdevilb.html [NC,R=301,L]
RewriteRule ^rdevilo\.html$ /1997/rdevilo.html [NC,R=301,L]
RewriteRule ^rdiabol\.html$ /1998/rdiabol.html [NC,R=301,L]
RewriteRule ^rdisturbing\.html$ /1998/rdisturbing.html [NC,R=301,L]
RewriteRule ^rdminds\.html$ /1998/rdminds.html [NC,R=301,L]
RewriteRule ^rdpcrim\.html$ /1996/rdpcrim.html [NC,R=301,L]
RewriteRule ^rdreams\.html$ /1998/rdreams.html [NC,R=301,L]
RewriteRule ^redge\.html$ /1998/redge.html [NC,R=301,L]
RewriteRule ^relizabeth\.html$ /1998/relizabeth.html [NC,R=301,L]
RewriteRule ^renemy\.html$ /2001/renemy.html [NC,R=301,L]
RewriteRule ^repub\.html$ /1997/repub.html [NC,R=301,L]
RewriteRule ^reraser\.html$ /1996/reraser.html [NC,R=301,L]
RewriteRule ^rescape\.html$ /1998/rescape.html [NC,R=301,L]
RewriteRule ^revita\.html$ /1997/revita.html [NC,R=301,L]
RewriteRule ^rfaceoff\.html$ /1998/rfaceoff.html [NC,R=301,L]
RewriteRule ^rfaculty\.html$ /1998/rfaculty.html [NC,R=301,L]
RewriteRule ^rfairytale\.html$ /1997/rfairytale.html [NC,R=301,L]
RewriteRule ^rfallen\.html$ /1998/rfallen.html [NC,R=301,L]
RewriteRule ^rfifthe\.html$ /1998/rfifthe.html [NC,R=301,L]
RewriteRule ^rfirelight\.html$ /1997/rfirelight.html [NC,R=301,L]
RewriteRule ^rfirestorm\.html$ /1998/rfirestorm.html [NC,R=301,L]
RewriteRule ^rfireworks\.html$ /1997/rfireworks.html [NC,R=301,L]
RewriteRule ^rfirstcon\.html$ /1998/rfirstcon.html [NC,R=301,L]
RewriteRule ^rfllv\.html$ /1998/rfllv.html [NC,R=301,L]
RewriteRule ^rflubber\.html$ /1997/rflubber.html [NC,R=301,L]
RewriteRule ^rfools\.html$ /1998/rfools.html [NC,R=301,L]
RewriteRule ^rgattaca\.html$ /1998/rgattaca.html [NC,R=301,L]
RewriteRule ^rgeneral\.html$ /1998/rgeneral.html [NC,R=301,L]
RewriteRule ^rgetshrt\.html$ /1996/rgetshrt.html [NC,R=301,L]
RewriteRule ^rgijane\.html$ /1997/rgijane.html [NC,R=301,L]
RewriteRule ^rgirl6\.html$ /1996/rgirl6.html [NC,R=301,L]
RewriteRule ^rgldneye\.html$ /1998/rgldneye.html [NC,R=301,L]
RewriteRule ^rgod\.html$ /1998/rgod.html [NC,R=301,L]
RewriteRule ^rgodmon\.html$ /1998/rgodmon.html [NC,R=301,L]
RewriteRule ^rgodzilla\.html$ /1998/rgodzilla.html [NC,R=301,L]
RewriteRule ^rgoodas\.html$ /1998/rgoodas.html [NC,R=301,L]
RewriteRule ^rgpblank\.html$ /1998/rgpblank.html [NC,R=301,L]
RewriteRule ^rgreatexp\.html$ /1998/rgreatexp.html [NC,R=301,L]
RewriteRule ^rgwtw\.html$ /1998/rgwtw.html [NC,R=301,L]
RewriteRule ^rh20\.html$ /1998/rh20.html [NC,R=301,L]
RewriteRule ^rhappiness\.html$ /2002/rhappiness.html [NC,R=301,L]
RewriteRule ^rhardrain\.html$ /1998/rhardrain.html [NC,R=301,L]
RewriteRule ^rharry\.html$ /1998/rharry.html [NC,R=301,L]
RewriteRule ^rheat\.html$ /1996/rheat.html [NC,R=301,L]
RewriteRule ^rhercules\.html$ /1997/rhercules.html [NC,R=301,L]
RewriteRule ^rhereafter\.html$ /1998/rhereafter.html [NC,R=301,L]
RewriteRule ^rhiljack\.html$ /1998/rhiljack.html [NC,R=301,L]
RewriteRule ^rholyman\.html$ /1998/rholyman.html [NC,R=301,L]
RewriteRule ^rhomefries\.html$ /1998/rhomefries.html [NC,R=301,L]
RewriteRule ^rhomexmas\.html$ /1998/rhomexmas.html [NC,R=301,L]
RewriteRule ^rhoodlum\.html$ /1997/rhoodlum.html [NC,R=301,L]
RewriteRule ^rhope\.html$ /1998/rhope.html [NC,R=301,L]
RewriteRule ^rhorse\.html$ /1998/rhorse.html [NC,R=301,L]
RewriteRule ^rhorsewhisperer\.html$ /1998/rhorsewhisperer.html [NC,R=301,L]
RewriteRule ^rhunch\.html$ /1997/rhunch.html [NC,R=301,L]
RewriteRule ^rhush\.html$ /1998/rhush.html [NC,R=301,L]
RewriteRule ^ricestorm\.html$ /1998/ricestorm.html [NC,R=301,L]
RewriteRule ^rid4\.html$ /1996/rid4.html [NC,R=301,L]
RewriteRule ^rimpostors\.html$ /1998/rimpostors.html [NC,R=301,L]
RewriteRule ^rinout\.html$ /1998/rinout.html [NC,R=301,L]
RewriteRule ^rironmask\.html$ /1998/rironmask.html [NC,R=301,L]
RewriteRule ^rjackal\.html$ /1998/rjackal.html [NC,R=301,L]
RewriteRule ^rjackieb\.html$ /1998/rjackieb.html [NC,R=301,L]
RewriteRule ^rjade\.html$ /2001/rjade.html [NC,R=301,L]
RewriteRule ^rjfrost\.html$ /1998/rjfrost.html [NC,R=301,L]
RewriteRule ^rjmaguire\.html$ /1996/rjmaguire.html [NC,R=301,L]
RewriteRule ^rjoeblack\.html$ /1998/rjoeblack.html [NC,R=301,L]
RewriteRule ^rjumanji\.html$ /1996/rjumanji.html [NC,R=301,L]
RewriteRule ^rkids\.html$ /1998/rkids.html [NC,R=301,L]
RewriteRule ^rkiss\.html$ /1997/rkiss.html [NC,R=301,L]
RewriteRule ^rknockoff\.html$ /1998/rknockoff.html [NC,R=301,L]
RewriteRule ^rkolya\.html$ /1997/rkolya.html [NC,R=301,L]
RewriteRule ^rlacon\.html$ /1998/rlacon.html [NC,R=301,L]
RewriteRule ^rlapromesse\.html$ /1997/rlapromesse.html [NC,R=301,L]
RewriteRule ^rlastman\.html$ /1996/rlastman.html [NC,R=301,L]
RewriteRule ^rlastsum\.html$ /1998/rlastsum.html [NC,R=301,L]
RewriteRule ^rlebowski\.html$ /1998/rlebowski.html [NC,R=301,L]
RewriteRule ^rlethalwep4\.html$ /1998/rlethalwep4.html [NC,R=301,L]
RewriteRule ^rliar\.html$ /1997/rliar.html [NC,R=301,L]
RewriteRule ^rlifebeaut\.html$ /1997/rlifebeaut.html [NC,R=301,L]
RewriteRule ^rlivingout\.html$ /1998/rlivingout.html [NC,R=301,L]
RewriteRule ^rllv\.html$ /1996/rllv.html [NC,R=301,L]
RewriteRule ^rlordinary\.html$ /1997/rlordinary.html [NC,R=301,L]
RewriteRule ^rlostinspace\.html$ /1998/rlostinspace.html [NC,R=301,L]
RewriteRule ^rlostworld\.html$ /1998/rlostworld.html [NC,R=301,L]
RewriteRule ^rlovely\.html$ /1998/rlovely.html [NC,R=301,L]
RewriteRule ^rlughnasa\.html$ /1998/rlughnasa.html [NC,R=301,L]
RewriteRule ^rlvoice\.html$ /1998/rlvoice.html [NC,R=301,L]
RewriteRule ^rm\.html$ /1997/rm.html [NC,R=301,L]
RewriteRule ^rma\.html$ /1996/rma.html [NC,R=301,L]
RewriteRule ^rmadcity\.html$ /1998/rmadcity.html [NC,R=301,L]
RewriteRule ^rmafia\.html$ /1998/rmafia.html [NC,R=301,L]
RewriteRule ^rmarsattacks\.html$ /1998/rmarsattacks.html [NC,R=301,L]
RewriteRule ^rmercrising\.html$ /1998/rmercrising.html [NC,R=301,L]
RewriteRule ^rmermaid\.html$ /1997/rmermaid.html [NC,R=301,L]
RewriteRule ^rmi\.html$ /1996/rmi.html [NC,R=301,L]
RewriteRule ^rmib\.html$ /1998/rmib.html [NC,R=301,L]
RewriteRule ^rmidnite\.html$ /1998/rmidnite.html [NC,R=301,L]
RewriteRule ^rmimic\.html$ /1998/rmimic.html [NC,R=301,L]
RewriteRule ^rmjyoung\.html$ /1998/rmjyoung.html [NC,R=301,L]
RewriteRule ^rmonument\.html$ /1998/rmonument.html [NC,R=301,L]
RewriteRule ^rmousehunt\.html$ /1998/rmousehunt.html [NC,R=301,L]
RewriteRule ^rmst3k\.html$ /1998/rmst3k.html [NC,R=301,L]
RewriteRule ^rmulan\.html$ /1998/rmulan.html [NC,R=301,L]
RewriteRule ^rmulfalls\.html$ /1998/rmulfalls.html [NC,R=301,L]
RewriteRule ^rmyth\.html$ /1997/rmyth.html [NC,R=301,L]
RewriteRule ^rnegotiator\.html$ /1998/rnegotiator.html [NC,R=301,L]
RewriteRule ^rnixon\.html$ /1997/rnixon.html [NC,R=301,L]
RewriteRule ^rnolooking\.html$ /1998/rnolooking.html [NC,R=301,L]
RewriteRule ^rnpersonal\.html$ /1997/rnpersonal.html [NC,R=301,L]
RewriteRule ^robject\.html$ /1998/robject.html [NC,R=301,L]
RewriteRule ^roliver\.html$ /1997/roliver.html [NC,R=301,L]
RewriteRule ^roppositeofsex\.html$ /1998/roppositeofsex.html [NC,R=301,L]
RewriteRule ^roscar\.html$ /1998/roscar.html [NC,R=301,L]
RewriteRule ^routsight\.html$ /1998/routsight.html [NC,R=301,L]
RewriteRule ^routtosea\.html$ /1997/routtosea.html [NC,R=301,L]
RewriteRule ^rpalmetto\.html$ /1998/rpalmetto.html [NC,R=301,L]
RewriteRule ^rparadise\.html$ /1998/rparadise.html [NC,R=301,L]
RewriteRule ^rparenttrap\.html$ /1998/rparenttrap.html [NC,R=301,L]
RewriteRule ^rpatchadams\.html$ /1998/rpatchadams.html [NC,R=301,L]
RewriteRule ^rpcolors\.html$ /1998/rpcolors.html [NC,R=301,L]
RewriteRule ^rpeacemaker\.html$ /1998/rpeacemaker.html [NC,R=301,L]
RewriteRule ^rpecker\.html$ /1998/rpecker.html [NC,R=301,L]
RewriteRule ^rpegypt\.html$ /1998/rpegypt.html [NC,R=301,L]
RewriteRule ^rphantom\.html$ /1999/rphantom.html [NC,R=301,L]
RewriteRule ^rphenom\.html$ /1996/rphenom.html [NC,R=301,L]
RewriteRule ^rpi\.html$ /1998/rpi.html [NC,R=301,L]
RewriteRule ^rpicperfect\.html$ /1998/rpicperfect.html [NC,R=301,L]
RewriteRule ^rpmagic\.html$ /1998/rpmagic.html [NC,R=301,L]
RewriteRule ^rpmidnight\.html$ /1998/rpmidnight.html [NC,R=301,L]
RewriteRule ^rpmurder\.html$ /1998/rpmurder.html [NC,R=301,L]
RewriteRule ^rpolishwedding\.html$ /1998/rpolishwedding.html [NC,R=301,L]
RewriteRule ^rpostman\.html$ /1998/rpostman.html [NC,R=301,L]
RewriteRule ^rpreach\.html$ /1996/rpreach.html [NC,R=301,L]
RewriteRule ^rprivateryan\.html$ /1998/rprivateryan.html [NC,R=301,L]
RewriteRule ^rpsntville\.html$ /1998/rpsntville.html [NC,R=301,L]
RewriteRule ^rpsycho\.html$ /1998/rpsycho.html [NC,R=301,L]
RewriteRule ^rrainmaker\.html$ /1998/rrainmaker.html [NC,R=301,L]
RewriteRule ^rransom\.html$ /1996/rransom.html [NC,R=301,L]
RewriteRule ^rratpack\.html$ /1998/rratpack.html [NC,R=301,L]
RewriteRule ^rredcorn\.html$ /1997/rredcorn.html [NC,R=301,L]
RewriteRule ^rregeneration\.html$ /1997/rregeneration.html [NC,R=301,L]
RewriteRule ^rretpara\.html$ /1998/rretpara.html [NC,R=301,L]
RewriteRule ^rringmaster\.html$ /1998/rringmaster.html [NC,R=301,L]
RewriteRule ^rromy\.html$ /1998/rromy.html [NC,R=301,L]
RewriteRule ^rronin\.html$ /1998/rronin.html [NC,R=301,L]
RewriteRule ^rrounders\.html$ /1998/rrounders.html [NC,R=301,L]
RewriteRule ^rroxbury\.html$ /1998/rroxbury.html [NC,R=301,L]
RewriteRule ^rrushhour\.html$ /1998/rrushhour.html [NC,R=301,L]
RewriteRule ^rrushmore\.html$ /1998/rrushmore.html [NC,R=301,L]
RewriteRule ^rsabrina\.html$ /1998/rsabrina.html [NC,R=301,L]
RewriteRule ^rsamuri\.html$ /1998/rsamuri.html [NC,R=301,L]
RewriteRule ^rscarlet\.html$ /2002/rscarlet.html [NC,R=301,L]
RewriteRule ^rscream\.html$ /1998/rscream.html [NC,R=301,L]
RewriteRule ^rsense\.html$ /1997/rsense.html [NC,R=301,L]
RewriteRule ^rseven\.html$ /1996/rseven.html [NC,R=301,L]
RewriteRule ^rshakespeare\.html$ /1998/rshakespeare.html [NC,R=301,L]
RewriteRule ^rshowgrl\.html$ /1998/rshowgrl.html [NC,R=301,L]
RewriteRule ^rsiege\.html$ /1998/rsiege.html [NC,R=301,L]
RewriteRule ^rsimage\.html$ /1998/rsimage.html [NC,R=301,L]
RewriteRule ^rsimon\.html$ /1998/rsimon.html [NC,R=301,L]
RewriteRule ^rsister\.html$ /1997/rsister.html [NC,R=301,L]
RewriteRule ^rsixdays\.html$ /1998/rsixdays.html [NC,R=301,L]
RewriteRule ^rslam\.html$ /1998/rslam.html [NC,R=301,L]
RewriteRule ^rsliding\.html$ /1998/rsliding.html [NC,R=301,L]
RewriteRule ^rslums\.html$ /1998/rslums.html [NC,R=301,L]
RewriteRule ^rsmoke\.html$ /1997/rsmoke.html [NC,R=301,L]
RewriteRule ^rsnakeeyes\.html$ /1998/rsnakeeyes.html [NC,R=301,L]
RewriteRule ^rsoldersd\.html$ /1998/rsoldersd.html [NC,R=301,L]
RewriteRule ^rspanish\.html$ /1998/rspanish.html [NC,R=301,L]
RewriteRule ^rspawn\.html$ /1998/rspawn.html [NC,R=301,L]
RewriteRule ^rspecies2\.html$ /1998/rspecies2.html [NC,R=301,L]
RewriteRule ^rspeed2\.html$ /1998/rspeed2.html [NC,R=301,L]
RewriteRule ^rsphere\.html$ /1998/rsphere.html [NC,R=301,L]
RewriteRule ^rsplan\.html$ /1998/rsplan.html [NC,R=301,L]
RewriteRule ^rssoldiers\.html$ /1998/rssoldiers.html [NC,R=301,L]
RewriteRule ^rst\-insur\.html$ /1998/rst-insur.html [NC,R=301,L]
RewriteRule ^rstarkid\.html$ /1997/rstarkid.html [NC,R=301,L]
RewriteRule ^rstarship\.html$ /1998/rstarship.html [NC,R=301,L]
RewriteRule ^rstease\.html$ /1996/rstease.html [NC,R=301,L]
RewriteRule ^rstella\.html$ /1998/rstella.html [NC,R=301,L]
RewriteRule ^rstepmom\.html$ /1998/rstepmom.html [NC,R=301,L]
RewriteRule ^rsummer\.html$ /1998/rsummer.html [NC,R=301,L]
RewriteRule ^rswdance\.html$ /1996/rswdance.html [NC,R=301,L]
RewriteRule ^rswingers\.html$ /1998/rswingers.html [NC,R=301,L]
RewriteRule ^rswitchback\.html$ /1997/rswitchback.html [NC,R=301,L]
RewriteRule ^rtflight\.html$ /1998/rtflight.html [NC,R=301,L]
RewriteRule ^rtherock\.html$ /1996/rtherock.html [NC,R=301,L]
RewriteRule ^rtimekll\.html$ /1996/rtimekll.html [NC,R=301,L]
RewriteRule ^rtincup\.html$ /1996/rtincup.html [NC,R=301,L]
RewriteRule ^rtodiefor\.html$ /1997/rtodiefor.html [NC,R=301,L]
RewriteRule ^rtomorrow\.html$ /1998/rtomorrow.html [NC,R=301,L]
RewriteRule ^rtowong\.html$ /1998/rtowong.html [NC,R=301,L]
RewriteRule ^rtoystry\.html$ /1996/rtoystry.html [NC,R=301,L]
RewriteRule ^rtrial\.html$ /1997/rtrial.html [NC,R=301,L]
RewriteRule ^rtrumanshow\.html$ /1998/rtrumanshow.html [NC,R=301,L]
RewriteRule ^rtwintown\.html$ /1997/rtwintown.html [NC,R=301,L]
RewriteRule ^rtwister\.html$ /1996/rtwister.html [NC,R=301,L]
RewriteRule ^runzipped\.html$ /1997/runzipped.html [NC,R=301,L]
RewriteRule ^rurban\.html$ /2000/rurban.html [NC,R=301,L]
RewriteRule ^rusmarshals\.html$ /1998/rusmarshals.html [NC,R=301,L]
RewriteRule ^ruturn\.html$ /1997/ruturn.html [NC,R=301,L]
RewriteRule ^rvampires\.html$ /1997/rvampires.html [NC,R=301,L]
RewriteRule ^rvelvetgold\.html$ /1998/rvelvetgold.html [NC,R=301,L]
RewriteRule ^rverybad\.html$ /1998/rverybad.html [NC,R=301,L]
RewriteRule ^rvierose\.html$ /1997/rvierose.html [NC,R=301,L]
RewriteRule ^rwag\.html$ /1998/rwag.html [NC,R=301,L]
RewriteRule ^rwaterboy\.htm$ /1998/rwaterboy.html [NC,R=301,L]
RewriteRule ^rwaterwrld\.html$ /1996/rwaterwrld.html [NC,R=301,L]
RewriteRule ^rwentdown\.html$ /1997/rwentdown.html [NC,R=301,L]
RewriteRule ^rwildbch\.html$ /1996/rwildbch.html [NC,R=301,L]
RewriteRule ^rwonderland\.html$ /2003/rwonderland.html [NC,R=301,L]
RewriteRule ^rwrong\.html$ /2003/rwrong.html [NC,R=301,L]
RewriteRule ^rxfiles\.html$ /1998/rxfiles.html [NC,R=301,L]
RewriteRule ^ryfriends\.html$ /1998/ryfriends.html [NC,R=301,L]
RewriteRule ^rygmail\.html$ /1998/rygmail.html [NC,R=301,L]
RewriteRule ^rzeroeff\.htm$ /1998/rzeroeff.html [NC,R=301,L]
RewriteRule ^rzorro\.html$ /1998/rzorro.html [NC,R=301,L]
